* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

button {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
