body {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  padding: 20px 230px;
}

.shelves { 
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 325px;
  block-size: 650px;
  background-image: url("./../images/stall.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.shelves__item-wrapper {
  display: flex;
  align-items: end;
  inline-size: 100%;
  block-size: 100%;
}

.shelves__item-wrapper img {
  z-index: 2;
  inline-size: 100%;
  opacity: 0;
  animation: fadein 0.5s ease-out forwards;
  animation-delay: 0.3s;
}

.shelves__level {
  display: flex;
  justify-content: space-between;
}

.shelves__level_first {
  inline-size: 70%;
  block-size: 184px;
}

#vine-wrapper {
  position:relative;
  inset-inline-start: -10px;
}

#milk-wrapper {
  position:relative;
  inset-inline-start: -3px;
}

#jem-wrapper {
  position:relative;
  inset-block-start: -18px;
  inset-inline-start: 2px;
  transform: scale(1.2);
}

#cheese-wrapper {
  position:relative;
  inset-block-start: 3px;
  inset-inline-start: 20px;
}

.shelves__level_second {
  inline-size: 80%;
  block-size: 149px;
}

#meet-wrapper {
  position:relative;
  inset-block-start: 5px;
  inset-inline-start: -22px;
  transform: scale(0.95);
}

#chiken-wrapper {
  position:relative;
  inset-block-start: 6px;
  inset-inline-start: -23px;
  transform: scale(1.1);
}

#pack-wrapper {
  position:relative;
  inset-block-start: -20px;
  inset-inline-start: 5px;
  transform: scale(1.3);
}

.shelves__level_third {
  inline-size: 84%;
  block-size: 142px;
}

#pineapple-wrapper {
  position:relative;
  inset-block-start: 10px;
  inset-inline-start: -10px;
  transform: scale(0.8);
}

#banana-wrapper {
  position:relative;
  inset-block-start: -6px;
  inset-inline-start: -3px;
}

#apple-wrapper {
  position:relative;
  inset-block-start: 17px;
  inset-inline-start: 5px;
  transform: scale(0.7);
}

#lattice-wrapper {
  position:relative;
  inset-block-start: -20px;
  inset-inline-start: 19px;
  transform: scale(1.3);
}

.cart {
  position: relative;
  inset: -30px 38px;
  z-index: 2;
  display: flex;
  align-items: end;
  inline-size: 279px;
  block-size: 161px;
}

.cart::after {
  content: url("./../images/cart.svg");
  position: absolute;
  inset: -47px -35px;
  inline-size: 277px;
  block-size: 229px;  
  transform: scale(1.5);
}

.cart img {
  z-index: 0;
  inline-size: 80px;
  margin-inline-start: -3px;
  animation: shake 0.5s;
}

.cart img:nth-child(1) {
  margin-left: 1px;
}

.cart img:nth-child(2) {
  margin-left: -34px;
  rotate: -3deg;
}

.cart img:nth-child(3) {
  margin-left: 10px;
  rotate: 7deg;
}

.cart img:nth-child(4) {
  margin-left: -40px;
}

.cart img:nth-child(5) {
  margin-left: -60px;
}

.cart img:nth-child(6) {
  margin-left: -80px;
}

.cart img:nth-child(7) {
  margin-left: -90px;
}

.cart img:nth-child(8) {
  margin-left: -120px;
}

.cart img:nth-child(9) {
  margin-left: -150px;
}

.payment {
  position: relative;
  display: flex;
  justify-content: center;
}

.payment__button {
  position: absolute;
  inset: -65px 14px;
  z-index: 5;
  inline-size: 258px;
  block-size: 81px;
  font-weight: bold;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background-color: #FCE000;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: pulsation 1.5s ease-out infinite;
}

.payment__button:hover {
  background-color: rgb(219, 175, 27);
  text-shadow: -1px 0 #ece2e2, 0 1px #797373;
  transition: all 0.3s ease-in-out;
}

@keyframes pulsation {
  0% { transform: scale(1); }
  60% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes fadein {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}